*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    justify-content: center;
}

#field{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    gap: 1px;
}

.square{
    width: 100px;
    aspect-ratio: 1;
    background-color: #cccc;
    border: 1px black solid;
}